.assess-pane {
	background-color: $wisp;
	border: solid 1px #ccc;
	-webkit-box-shadow: -7px 0px 10px -1px rgba(0,0,0,0.20);
	-moz-box-shadow: -7px 0px 10px -1px rgba(0,0,0,0.20);
	box-shadow: -7px 0px 10px -1px rgba(0,0,0,0.20);

	ul.residents-ul {
		list-style-type: none;
		padding: 0;
	}

	p.in-arrears {
		color: $brand-danger;
	}

	address,
	.col-md-6 p,
	.col-md-12 p,
	.col-md-12 li,
	.fa,
	h4 {
		padding-left: 9px;
    	padding-right: 9px;
	}

	.fa-bell {
		padding-left: 0;
	}

	.col-md-6,
	.k-grid .k-pager-numbers li,
	.pane-section.col-md-12 {
		padding-left: 0;
    	padding-right: 0;
	}

	.k-grid,
	thead.k-grid-header th.k-header:first-child {
		border-radius: 0;
	}
}