.modal-dialog {
	width: 100%;
	margin: 100px auto;
	
	background-color: $smoking;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: solid 5px $brand-primary;


	.modal-content {
		/*border-top: solid 5px $brand-primary;*/
		color: $wisp;
		background-color: $smoking;
		border-radius: 0px;
		width:600px;
		margin: auto;
	    -webkit-box-shadow: none;
	    box-shadow: none;
        border: none;


		.modal-title {
			color: $wisp;
		}

		.modal-footer {
			background-color: $slated;
		}
	}
	.modal-footer-wrapper {
		background-color: $slated;
	}
}
.modal-warning {
	.modal-header {
		border-bottom: none;
		text-align: center;
	}
	.modal-body {
		text-align: center;
		
		.fa {
			font-size: 48px;
		}
		strong span {
			color: $brand-danger;
		}
	}
	.modal-footer {
		text-align: center;
		border-top: none;

		.btn {
			width: 110px;
		}
	}
}