.modal-dialog {
	width: auto;
	margin: 100px auto;

	.modal-content {
		border-top: solid 5px $brand-primary;
		color: $wisp;
		background-color: $smoking;
		border-radius: 0px;

		.modal-title {
			color: $wisp;
		}

		.modal-footer {
			background-color: $slated;
		}
	}
}
.modal-warning {
	.modal-header {
		border-bottom: none;
		text-align: center;
	}
	.modal-body {
		text-align: center;
		
		.fa {
			font-size: 48px;
		}
		strong span {
			color: $brand-danger;
		}
	}
	.modal-footer {
		text-align: center;
		border-top: none;

		.btn {
			width: 110px;
		}
	}
}