.container-fluid {
	color: $text-color;
	font-size: $font-size-base;
	font-family: $font-family;
	font-weight: 300;
	/*@media (min-width: 1200px) {
		width: 1020px;
	}*/
	a {
		font-weight: normal;
	}
}
/* Typo */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	color: $headings-color;
	font-weight: 300;
}
h1, .h1 {
	font-size: $font-size-h1; 
}
h2, .h2 {
	font-size: $font-size-h2;
}
h3, .h3 {
	font-size: $font-size-h3;
	font-style: italic;
}
h4, .h4 {
	font-size: $font-size-h4;
	font-weight: 400;		
}
h5, .h5 {
	font-size: $font-size-h5;		
}
h6, .h6 {
	font-size: $font-size-h6;		
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, 
.h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, 
h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, 
.h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
	color: $gray;
}
.sr-only {
	color: #000;
}
a {
	color: $link-color;
}
/* Icon Styling */
.fa {
	color: $icon-colour;
}

.icon-group .fa-roundel {
    font-style: normal;
    color: white;
    background-color: black;
    padding: 0px 6px 1px;
    border-radius: 12px;
    margin-left: -13px;
    font-size: 0.85em;
    font-weight: bold;
}

.icon-group .fa-roundel.fa-warning-roundel {
	background-color: $rag-red;
}

.icon-group .fa-roundel.fa-advisory-roundel {
	background-color: $rag-amber;
}
